doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body 
    head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/bootstrap/css/bootstrap.css')
    title Farmer One list
body
h3 Registered Farmer ones  
table.table.table-striped.table-hover.table-bordered
  thead
    tr.table-primary
      th(scope='col') #
      th(scope='col') Name
      th(scope='col') Date of birth
      th(scope='col') Gender
      th(scope='col') Phone number
      th(scope='col') NIN
      th(scope='col') Address
      th(scope='col') Residence type
      th(scope='col') Years lived in Area
      th(scope='col') Ward
      th(scope='col') Activities done
      th(scope='col') Date of Registration
      th(scope='col') Unique Number
      th(scope='col') Password
  tbody
    if farmerOnes.length 
      each farmerOne in farmerOnes
        tr
          th(scope='row') 
          td  #{farmerOne.firstname} #{farmerOne.secondname}
          td  #{farmerOne.dob} 
          td  #{farmerOne.gender} 
          td  #{farmerOne.phonenumber} 
          td  #{farmerOne.NIN} 
          td  #{farmerOne.address} 
          td  #{farmerOne.residencetype} 
          td  #{farmerOne.time} 
          td  #{farmerOne.ward} 
          td  #{farmerOne.activities} 
          td  #{farmerOne.dreg} 
          td  #{farmerOne.uniquenumber} 
          td  #{farmerOne.password} 
    else 
      p there are no farmer ones in the database
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')
script(src='/bootstrap/js/bootstrap.js')
script(src='/bootstrap/js/bootstrap.bundle.js')
script(src='/includes/custom.js')
