| doctype html
| html(lang=&quot;en&quot;)
| head
| meta(charset=&quot;UTF-8&quot;)
| meta(http-equiv=&quot;X-UA-Compatible&quot;, content=&quot;IE=edge&quot;)
| meta(name=&quot;viewport&quot;, content=&quot;width=device-width, initial-scale=1.0&quot;)
| title Farmer One list
| body 
table.table
  thead
    tr.table-primary
      th(scope='col') #
      th(scope='col') First Name
      th(scope='col') Second Name
      th(scope='col') Date of birth
      th(scope='col') Gender
      th(scope='col') Phone number
      th(scope='col') NIN
      th(scope='col') Address
      th(scope='col') Residence type
      th(scope='col') Years lived in Area
      th(scope='col') Ward
      th(scope='col') Activities done
      th(scope='col') Date of Registration
      th(scope='col') Unique Number
      th(scope='col') Password
  tbody
    if farmerOnes.length 
      each farmerOne in farmerOnes
        tr
          th(scope='row') 1
          td  #{farmerOne.firstname}
          td  #{farmerOne.secondname}
          td  #{farmerOne.dob} 
          td  #{farmerOne.gender} 
          td  #{farmerOne.phonenumber} 
          td  #{farmerOne.NIN} 
          td  #{farmerOne.address} 
          td  #{farmerOne.residencetype} 
          td  #{farmerOne.time} 
          td  #{farmerOne.ward} 
          td  #{farmerOne.activities} 
          td  #{farmerOne.dreg} 
          td  #{farmerOne.uniquenumber} 
          td  #{farmerOne.password} 
    else 
      p there are no farmer ones in the database
| script(src=&apos;https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js&apos;)
| script(src=&apos;/bootstrap/js/bootstrap.js&apos;)
| script(src=&apos;/bootstrap/js/bootstrap.bundle.js&apos;)
| script(src=&apos;/includes/custom.js&apos;)
