doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/bootstrap/css/bootstrap.css')
  link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')
  title Agricultural Officer Dashboard
// Sidebar
#mySidebar.w3-sidebar.w3-bar-block.w3-border-right
  button.w3-bar-item.w3-large(onclick='w3_close()') Close &times;
  a.w3-bar-item.w3-button(href='fOneRegister') Register new Farmer one
  a.w3-bar-item.w3-button(href='#') Messages
  a.w3-bar-item.w3-button(href='#') Log out
.w3-green
  button.w3-button.w3-green.w3-xlarge(onclick='w3_open()') &#x2630;
//data
.container-fluid
  fieldset
    // Form Name
    legend
      center
        h2
          b Agricultural Officer Dashboard
    br
    .container
      h3    
      fieldset 
        h3  
         | Number of Farmer Ones: #{activeFarmers}
        br
        h3 Registered Farmer ones  
          table.table.table-striped.table-hover.table-bordered
            thead
              tr.table-primary
                th(scope='col') Name
                th(scope='col') Date of birth
                th(scope='col') Gender
                th(scope='col') Phone number
                th(scope='col') Address
                th(scope='col') Ward
                th(scope='col') Activities done
                th(scope='col') Unique Number
            tbody
              if data.length
               each farmerOne in data
                tr
                  td #{farmerOne.firstname} #{farmerOne.secondname}
                  td #{farmerOne.dob} 
                  td #{farmerOne.gender} 
                  td #{farmerOne.phonenumber} 
                  td #{farmerOne.address} 
                  td #{farmerOne.ward} 
                  td #{farmerOne.activities} 
                  td #{farmerOne.uniqueid} 
                  td
                    a.btn.btn-dark.btn-block(href='/edit_farmerOne/'+farmerOne._id) Edit
              else 
                p 
                  h4 There are no farmer ones registered yet
form(method="POST" action='/logout')
    button.btn.btn-success(type= 'submit' width='100px') Sign out

script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')
script(src='/bootstrap/js/bootstrap.js')
script(src='/bootstrap/js/bootstrap.bundle.js')
script(src='/includes/custom.js')
script(src='/includes/sidebar.js')
