doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/bootstrap/css/bootstrap.css')
  link(rel='stylesheet' href='/bootstrap/css/bootstrap-grid.css')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css')
  title Cart
  style.
    .chat {
    text-align: center;
    }
    article {
    border-style: groove;
    border-radius: 10px;
    margin-bottom: 10px !important;
    padding: 10px !important;
    }
    .main {
    height: 700px;
    }
    .card {
    margin-bottom: 50px !important;
    }
    .container-fluid{
       color: rgb(12, 12, 12);
    }
    .btn.btn-success{
      margin-left: 10px !important;
    }
// nav starts Here
div(w3-include-html='/includes/navbar.html')
// nav bar ends here
if data.length 
  each product in data
    .container-fluid
      .row
        .col
          article.main
            .card
              img(src=product.productimage,alt='image to be uploaded', style='max-width:250px; height:auto;')
              .card-body
                .card-text
              .card-footer
                h4 #{product.productname}
                button.btn-success IN STOCK
            div
              section
                p
                  | Price:UGX #{product.unitprice}   Quantity: #{product.quantity}
                  br
                  br
                  | Type: #{product.pType}   Address: #{product.address}
                  br
                  br
                  |    Farmer: #{product.fName}
                  br
              button#call.btn.btn-success
                i.bi.bi-telephone
                |  Call
                form(method="POST" action="/order")
                        input(type="hidden", name="productId", value=product._id)
                        button.btn.btn-success(type="submit") Order
             
        .col-4
          article.chatbox
            h4 Need more detail?
            .chat
              button#chat.btn.btn-success
                i.bi.bi-chat-left-text
                |  start
                |  chat
          article.deliver
            header
              h4 Mode of delivery
            div
              p
                i.bi.bi-truck
                | #{product.delivery}
                br
                |                            
          article.pay
            header
              h4 Options for payment
            div
              p
                i.bi.bi-cash-coin
                | #{product.payMthd}
                br
else 
  p 
    h4 you have not yet selected an item to buy
// footer starts here
div(w3-include-html='/includes/footer.html')
// footer ends here
script(src='/includes/custom.js')
script(src='/bootstrap/js/bootstrap.js')

 